@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: DMSerifText;
  src: url("../font/DMSerifText-Regular.ttf");
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0ms, opacity 300ms;
}

#booksGrid {
  width: 100%;
  display: grid;
  border: 1px solid grey;
  grid-template-rows: repeat(2, minmax(170px, 1fr));
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(175px, 1fr);
  grid-auto-columns: 1fr;
  gap: 1rem;
}

#noBooks {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}

#book {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(153 246 228);
  border: solid 0.25rem rgb(94 234 212);
  border-radius: 5%;
  padding: 0.5rem;
  padding-top: 0;
  position: relative;
}

#book #bookTitle {
  font-size: 1.5rem;
}

#book #bookAuthor {
  align-self: flex-end;
  font-style: italic;
}

#book #bookBottomArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "deleteBook bookRead";
  height: 100%;
}

#book #bookBottomArea #bookRead {
  display: flex;
  height: 100%;
  grid-area: bookRead;
  width: fit-content;
  height: fit-content;
  margin-top: auto;
  margin-left: auto;
}

#book #bookBottomArea #bookRead div {
  width: 4rem;
  height: 2rem;
  border: 0.1rem;
  border-style: solid;
  border-color: rgb(94 234 212);
  border-radius: 0.3rem;
  margin-left: auto;
  user-select: none;
  cursor: pointer;
  padding: 1px;
  text-align: center;
}

#book #bookBottomArea #bookRead :nth-child(1) {
  background-color: lightgreen;
}

#book #bookBottomArea #bookRead :nth-child(2) {
  background-color: lightpink;
}

#book #bookBottomArea #deleteBook {
  grid-area: deleteBook;
  align-self: flex-end;
  width: 4rem;
  height: 2rem;
  border: 0.1rem;
  border-style: solid;
  border-color: rgb(94 234 212);
  border-radius: 0.3rem;
  background-color: rgba(360, 0, 0, 50%);
  user-select: none;
  cursor: pointer;
  padding: 1px;
  text-align: center;
}

.hide {
  display: none;
}
