@tailwind base;
@tailwind components;
@tailwind utilities;

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0ms, opacity 300ms;
}

#booksGrid {
  overflow: auto;
  display: grid;
  border: 1px solid grey;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

#noBooks {
  grid-column: 2 / span 2;
  grid-row: 1 / span 12;
}
